button{
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    background: rgba(255,255,255,.2); 
    width: 25%;
    &:hover{
        background: rgba(255, 255, 255, 0.041); 
    }
    &:active{
        background: white;
    }
}

.animation-knot {
    margin: 0 auto;
}
