

$background-color: #fafafa;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    $text-color : #555555;
  }

.header{
    // background: $background-color;
    width: 85%;
    margin: 0 auto;



    .header-sidenav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;

        a{
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;

            &:hover{
                color: #f1f1f1;
            }
        }

        .header-sidenav-closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
            color: white;
        }
    }



    .header-container{
        padding: 20px 0;
        display: flex;
        height: 90px;
        
        align-items: center;
        justify-content: space-between;
    
        
        .header-name{
            font-size: 30px;
            width: 33%;
            text-align: center;
        }
        .header-left{
           width: 33%;
           
        }
        .header-right{
            width: 33%;
            display: flex;
            justify-content: flex-end;
           
            
            svg{
                padding-right: 10px;
                &:last-child{
                    padding-right: 0px;
                }
            }
        }
    
        svg{
            font-size: 30px;
        }
    
       
    
    }

    .header-list{
        display: flex;
        border-top: 1px solid black;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        // margin-bottom: 20px;
        .header-list-components{
            &:first-child{
                padding-right: 30px;;
            }
            &:hover{
                svg{
                    transform: rotate(-180deg);
                    transition: all .5s ease;
                }
                display: block;
                .header-submenu{
                    display: block;
                }
            }
            position: relative;
            display: inline-block;
            .header-submenu{
                list-style-type: none;
                padding:  0;
                margin: 0;
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 100px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                border: 1px solid black;
                z-index: 1;
                li{

                    a{
                        display: block;
                        text-decoration: none;
                        color: black;
                        padding: 12px 16px;

                        &:hover{
                            background-color: #ddd;
                        }
                    }
                    
                }
            }
        }
        
    }
    .header-close{
        width: 0;
    }
    
    .header-open{
        width: 250px;
    }
}



@media only screen and (max-width: 770px) {
    .header{
        width: 95%;
        height: 50px;
        .header-container{
            height: 20px;
        }

        .header-list{
            visibility: hidden;
        }
    }    
}
