
@media only screen and (min-width: 961px) {
    .knots-item{
        width: 150px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .knots-item{
        width: 20%;
  }
}
.knots-container-item{
    display: flex;
    background-color: #5a5e63;
}
.knots{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    // height: 100px;
    flex: 1;
    // width: 200px;
    // width: 30%;

    .knots-item{
        // background-color: rgb(205, 210, 216);
    // background-color: #5a5e63;

        // display: fle
        margin-left: 30px;
        // width: 20%;
        min-width: 195px;
        height: 200px;
        // min-height: 300px;
        text-align: center;
        border: 1px solid hsl(213, 18%, 80%);
        margin-top: 20px;
        background-color: #484b4f;

        .knots-item-imagecont{
            // background-color: #dbeeff;
            background-color: #393a3b;
            border-bottom: .5px solid  white;
            .knots-item-image{
                height: 70%;
                width: 70%;
            }

            .knot-item-icon{
                color: rgb(255, 255, 255);

                &:hover{
                    color: red
                }
            }

            .knot-item-icon-choosen{
                color: red;

                &:hover{
                    color: black
                }
            }
        }
        .knots-item-text{
            cursor: pointer;
            color: white;
        }

    }
}
.knots-knot{
    width: 50%;
}

.search-knots{
    width: 500px;
    height: 30px;

    input{
        width: 80%;
        height: 100%;
        // margin: 0 auto;
        margin-left: 50px;
    }
}


