
.knot{
    // margin-left: 100px;
    margin: 0 auto;
    width: 90%;
    // text-align: center;
    color: rgb(214, 214, 214);
}


.knot-description, .knot-abok, .knot-names, .knot-percent, .categories{
    margin-top: 10px;
}