.main-items{
    display: flex;
    // height: 100%;
    .main-category{
        color: rgb(204, 199, 199);
        // height: 100vh;

        .main-category-name{
            // display: block;
            // text-align: center;
            cursor: auto;
            p{
                width: 100%;
                text-align: center;
            }
            
        }

        .main-category-item{
            display: flex;
            background-color: #484b4f;

            height: 70px;
            width: 230px;
            border-top: 1px solid white;
            border-right: 1px solid white;

            // border-bottom: 1px solid white;
            
            // justify-content: center;
            align-items: center;
            &:last-child{
                border-bottom: 1px solid white;
            }
            &:hover{
                background-color: #3c3f42;
                cursor: pointer;
            }

            .main-category-image{
                padding: 0 10px;
                height: 100%;
                // width: 100%;
            }
        }

        .main-knots{
            display: flex;
        }
    }
}

.main-language{
    width: 230px;

        select{
            margin: 15px 0;
            width: 100%;
            height: 30px;
            // color: red;
            background-color: #484b4f;
            color:white;
            border: 1px solid white;
        }

        // position: relative;
        
        select{
            // display: none; /*hide original SELECT element: */
        }
    
}